**Acessando Banco de Dados com Python**

In [1]:
# Remove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [2]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [3]:
# Cria uma conexão com o banco de dados.
# Se o banco de dados não existir, ele é criado neste momento
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
#Criando um cursor
# (um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [28]:
#Cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary, '\
'titulo varchar(100), ' \
'categoria varchar(140))'

In [29]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

OperationalError: table cursos already exists

In [25]:
# Criando outra sentença sql para inserir registros
sql_insert = 'insert into cursos values(?, ?, ?)'

In [26]:
# Dados Dataset
recset = [(1000, 'Ciência de Dados', 'Data Science'),
         (1001, 'Big Data Fundamentos', 'Big Data'),
         (1002, 'Python fundamentos', 'Análise de Dados')]

In [27]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

IntegrityError: UNIQUE constraint failed: cursos.id